<div id="<%= dom_id instruction %>">
  <p>
    <strong>Prep time:</strong>
    <%= instruction.prep_time %>
  </p>

  <p>
    <strong>Cook time:</strong>
    <%= instruction.cook_time %>
  </p>

  <p>
    <strong>Ingredient:</strong>
    <%= instruction.ingredient %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= instruction.description %>
  </p>

</div>
