<div id="<%= dom_id recipe %>">
  <p>
    <strong>Recipe:</strong>
    <%= recipe.recipe_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= recipe.title %>
  </p>

  <p>
    <strong>Publication date:</strong>
    <%= recipe.publication_date %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= recipe.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= recipe.description %>
  </p>

  <p>
    <strong>Caloriesperserving:</strong>
    <%= recipe.caloriesperserving %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= recipe.category %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= recipe.review %>
  </p>

  <p>
    <strong>Instruction:</strong>
    <%= recipe.instruction %>
  </p>

</div>
