<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Recipe</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to recipes_path, class: button_class(theme: "transparent") do %>
      All Recipes
      <% end %>
      <%= link_to edit_recipe_path(@recipe), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Recipe:</p>
        <p><%= @recipe.recipe_id %></p>
      </li>
      <li>
        <p class="font-semibold">Title:</p>
        <p><%= @recipe.title %></p>
      </li>
      <li>
        <p class="font-semibold">Publication date:</p>
        <p><%= @recipe.publication_date %></p>
      </li>
      <li>
        <p class="font-semibold">Price:</p>
        <p><%= @recipe.price %></p>
      </li>
      <li>
        <p class="font-semibold">Description:</p>
        <p><%= @recipe.description %></p>
      </li>
      <li>
        <p class="font-semibold">Caloriesperserving:</p>
        <p><%= @recipe.caloriesperserving %></p>
      </li>
      <li>
        <p class="font-semibold">Category:</p>
        <p><%= @recipe.category %></p>
      </li>
      <li>
        <p class="font-semibold">Review:</p>
        <p><%= @recipe.review %></p>
      </li>
      <li>
        <p class="font-semibold">Instruction:</p>
        <p><%= @recipe.instruction %></p>
      </li>
  </ul>
</div>
